* {
  margin: 0px;
}

body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: black;
  align-items: center;
}

.main {
  width: 50rem;
  height: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.squareA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 11rem;
  height: 25rem;
}
#A1 {
  width: 11rem;
  height: 5rem;
  background-color: #15aabf;
  border-style: groove;
  border-color: black;
}
#A2 {
  width: 11rem;
  height: 5rem;
  background-color: #228be6;
  border-style: groove;
  border-color: black;
}
#A3 {
  width: 11rem;
  height: 13rem;
  background-color: #be4bdb;
  border-style: groove;
  border-color: black;
}

.squareB {
  display: flex;
  width: 10rem;
  height: 25rem;
  justify-content: center;
}
#B1 {
  width: 7rem;
  height: 25rem;
  background-color: #fe7e14;
  border-style: groove;
  border-color: black;
}

.squareC {
  display: flex;
  width: 35rem;
  height: 25rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.C1 {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  width: 30rem;
}
#C1a {
  width: 14.2rem;
  height: 5rem;
  background-color: #fd7e14;
  border-style: groove;
  border-color: black;
}
#C1b {
  width: 14.2rem;
  height: 5rem;
  background-color: #e64980;
  border-style: groove;
  border-color: black;
}

.C2 {
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
  width: 30rem;
}

#C2a {
  width: 8.5rem;
  height: 5rem;
  background-color: #15aabf;
  border-style: groove;
  border-color: black;
}

#C2b {
  width: 20rem;
  height: 5rem;
  background-color: #82c91e;
  border-style: groove;
  border-color: black;
}

.C3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 13rem;
  width: 30rem;
}

.final1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 8.5rem;
  height: 13.5rem;
}
#C31a {
  width: 8.5rem;
  height: 5rem;
  background-color: #fe7d14;
  border-style: groove;
  border-color: black;
}
#C31b {
  width: 7.9rem;
  height: 7rem;
  background-color: #4c6ef5;
  border-style: groove;
  border-color: black;
}

.final2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 6rem;
  height: 13.5rem;
}
#C32a {
  width: 5rem;
  height: 5rem;
  background-color: #ced4da;
  border-style: groove;
  border-color: black;
}
#C32b {
  width: 5rem;
  height: 7rem;
  background-color: #be4bdb;
  border-style: groove;
  border-color: black;
}
.final3 {
  width: 6rem;
  height: 13.2rem;
  background-color: #12b886;
  border-style: groove;
  border-color: black;
}

.final4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 6rem;
  height: 13.2rem;
}

#C34a {
  width: 6rem;
  height: 6rem;
  background-color: #868e96;
  border-style: groove;
  border-color: black;
}
#C34b {
  width: 6rem;
  height: 5.5rem;
  background-color: #fb5252;
  border-style: groove;
  border-color: black;
}
